* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

:root {
  --primary-blue: hsl(223, 87%, 63%);
  --secondary-blue: hsl(223, 100%, 88%);
  --red: hsl(354, 100%, 66%);
  --text-dark: hsl(209, 33%, 12%);
  --text-light: hsl(0, 0%, 59%);
}

/* 
  reset chrome input autofill color to white 
  source : https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 645px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

.header {
  font-weight: 300;
  color: var(--text-light);
}

.header b {
  color: var(--text-dark);
}

.sub-header {
  color: var(--text-dark);
  margin: 0.9rem 0 1.8rem;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}

.form-control {
  position: relative;
  width: 420px;
  font-size: 14px;
}

.form-control input {
  width: 100%;
  height: 100%;
  border: 2px solid var(--secondary-blue);
  padding: 12px 30px;
  outline: none;
  border-radius: 28px;
  font-size: 20px;
}

.form-control input:focus + label,
.form-control input:not(:focus, :placeholder-shown) + label {
  top: -9px;
  background: #fff;
  cursor: default;
}

.form-control label {
  position: absolute;
  top: 18px;
  left: 27px;
  user-select: none;
  cursor: text;
  padding: 0 5px;
  color: var(--text-light);
  transition: 0.3s;
}

.submit-btn {
  border: none;
  outline: none;
  background: var(--primary-blue);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 28px;
  box-shadow: 0 4px 10px var(--secondary-blue);
}

.submit-btn:hover {
  background: hsl(223, 87%, 70%);
}

.illustration-img {
  width: 100%;
}

.footer {
  margin-top: 4rem;
  color: var(--text-light);
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.icon-wrapper {
  text-decoration: none;
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid var(--secondary-blue);
}

.icon-wrapper:hover {
  color: #fff;
  background: var(--primary-blue);
}
